
{{ define "main" }}

<style>
    .custom-home-content {
        /* background-color: #155974; */
        color: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        margin-top: 20px;
    }
    
    .custom-home-content .greetings {
        color: #ffffff;
        font-size: 2em;
        margin-bottom: 10px;
    }
    
    .custom-home-content p {
        color: #ffffff;
        font-size: 1.2em;
    }

    .about-text {
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
        line-height: 1.6;
        color: #fff;
        font-size: 1.1em;
    }

    .profile-pic {
        display: block;
        margin: 20px auto;
        max-width: 200px;
        border-radius: 50%;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        border: 0.25em solid #338ac4;
    }

    .link-list{
        list-style-type: none;
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .link-list li {
        margin-right: 15px;
        text-align: center;
        padding-right: 1em;
        /* display: inline; */
    }

</style>
<!--END CUSTOM STYLES-->

  <section class="custom-home-content">
    <!-- <h1 class="greetings">Greetings!</h1> -->
    <p><em>"I was born not knowing and have had only a little time to change that here and there."</em> -Richard Feynman</p>
    
  </section>

  <section class="about-text">
    <p>
        Hello and welcome to my website! My name is Dana Lockwood, and I am a programmer and avid technology enthusiast. 
        While I primarily specialize in implementing a variety of elegant solutions using Python 3 and PostgreSQL, 
        I also have a background in multiple different languages and technologies, such as C#/.NET Core, HTML, CSS, and more.
    </p>
    <div style="text-align:center; margin: 5px 0;">
        <img src="/pics/me-profile.jpg" class="profile-pic" alt="Dana Lockwood Profile Photo">
    </div>
  </section>

  <section class="about-text">
    <p>
        I am an enthusiastic, outgoing person who is also delighted to share ideas and collaborate with creative people to produce great things. 
        Some of my other personal interests and hobbies include a deep interest in theoretical physics and cosmology, international studies, 
        traveling, craft brewing, and much more! At any rate, I hope that you have enjoyed my website. 
        The contact me directly, feel free to head over to the contact page. For more information on my work and skills, please see the links below.
    </p>
  </section>

  <section class="about-text">
    <h2>Elsewhere on the Web</h3>
        <ul class="link-list">
            <li><strong></strong><a href="http://linkedin.com/in/danabases" target="_blank"><img src="pics/svgs/linkedin.svg" alt="linkedin-logo" srcset=""></a></li>
            <li><strong></strong><a href="http://github.com" target="_blank"><img src="pics/svgs/github.svg" alt="github-logo" srcset=""></a></li>
        </ul>
  </section>

{{ end }}